.jumbotron {
	width: 700px;
	text-align: center;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-top: 60px;
	box-shadow: 1px 1px 1px 1px #888888;
	border-style: solid;
    border-width: 1px;
	border-color: #888888;
	border-radius: 10px;

	
}

.username{
	margin-top: 1px;
	text-align: right;
}

h3 {
	margin-top: 1px;
	color: grey;
	border: 1px;
}


.form-control{
	width: 500px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.divider {
  height: 3px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.alert-danger{
	width: 640px;
	text-align: center;	
	margin-left: auto;
	margin-right: auto;
	position: relative;
	min-height:30px;
	overflow: hidden;	
	
}

hr.fancy-line{ 
    border: 0; 
    height: 3px;

}
hr.fancy-line:before {
    top: -0.5em;
    height: 2em;
}
hr.fancy-line:after {
    content:'';
    height: 1em;
    top: 1px;
}

hr.fancy-line:before, hr.fancy-line:after {
    content: '';    
    width: 100%;
}

hr.fancy-line, hr.fancy-line:before {
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}

body, hr.fancy-line:after {
    background: #f4f4f4;
}

